<!DOCTYPE html>
<html lang="zh">
<head>
<title>CUMT空气检测</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/styles/bootstrap4/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="static/styles/responsive.css">
<style type="text/css">
	body {
		padding: 0;
		margin: 0;
		background: #fff
		}
		.btn-container{
			padding: 1em 0;
			text-align: center;
		}
	.container{
		width: 700px;
		margin: 50px auto;
	}
</style>
	<script src="static/js/gauge.min.js"></script>
</head>

<body>

<div class="super_container">
	<header class="header d-flex flex-row justify-content-end align-items-center trans_200">
		<div class="logo mr-auto">
			<a href="#">CUMT<span>空气</span></a>
		</div>

		<nav class="main_nav justify-self-end text-right">
			<ul>
				<li class="active"><a href="#">CUMT</a></li>
			</ul>
		</nav>	
	</header>

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(static/images/slider_background.jpg)"></div>
		</div>
		
		<div style="margin: 0 auto;   text-align: center;">	
				<br><br><br><br>
		<canvas data-type="radial-gauge"
				
				data-value="{{.hum}}"
				data-title="相对湿度"
				data-units="RH"
		></canvas>
			</div>
	
<br><br>
        <div style="margin: 0 auto;text-align: center;">
        <div class="btn-group btn-group-justified">
        <a href="/" class="btn btn-primary">返回主页</a>
</div></div>

</div>
	</div>
<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/styles/bootstrap4/popper.js"></script>
<script src="static/styles/bootstrap4/bootstrap.min.js"></script>

</body>

</html>
